/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: cursive;
    color: cornflowerblue;
}

h1 {
    font-size: 16;
    color: rebeccapurple;
}

h2 {
    font-size: 12;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: ;
}

header, footer, footer a {
    text-align: center;
    background-color: dodgerblue;
    color: rebeccapurple;
}

header img {
    width: /*  */;
    height: auto;
    float: right;
}

footer {
    font-size: 8;
}
