@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header,
    nav,
    main,
    footer {
        max-width: 800px;
    }
    nav button {
        display: none;
    }

    nav ul li {
        display: inline-flex;
    }

    nav ul.hide {
        display: block;
    }

    .wgallery {
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
        margin: auto;
    }
    .wrapper h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* hamburger button does not need to be shown */
    section.forecast {
        display: flex;
        clear: both;
        padding: 30px 0 0 0;
    }
    section.forecast table {
        border: 1px solid darkblue;
        border-collapse: collapse;
        margin: 7%;
        width: 85%;
        text-align: center;
    }
    section.forecast table th,
    td {
        border: 1px solid darkblue;
    }
    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62%;
        max-height: 62%;
        flex: auto;
        padding: 0 0 0 10px;
    }
    /* responsive images */
}

.highlow,
.conditions {
    display: grid;
    grid grid-gap: 1rem;
    grid grid-template-columns: 1fr 1fr 1fr;
    max-width: 85%;
    margin: auto;
}
