html {
    font-family: Ubuntu, sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid darkgrey;
    letter-spacing: 1px;
    font-size: 0.8rem;
    box-shadow: 5px 5px 10px #7fb9c2;
}

td,
th {
    border: 1px solid darkgrey ;
    padding: 10px 20px;
}

thead {
    background-color: #7fb9c2;
    font-size: 22px;
}

tbody th {
    background-color: #628ca6;
    color: white;
    font-size: 18px;
}

td {
    text-align: center;
    font-size: 15px;
}

table tbody tr:nth-child(6) td:first-child {
    font-style: italic;
}

table tbody tr:nth-child(5) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}

tr:nth-child(even) td {
    background-color: #e7f0ed;
}

tr:nth-child(odd) td {
    background-color: #e7ffed;
}

table tfoot td:first-child {
   background-color: #628ca6;
    font-size: 13px;
}

caption {
    padding: 10px;
}
