/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Shadows Into Light Two', cursive;
    color: #40434A;
    background-color: #CFA96E;
    font-weight: bold;
    /* Declare the base font-family - from google font api or other */
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 90%;
    text-align: center;
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

p {
    font-family: 'Life Savers', cursive;
}




/*------HEADER------*/

header {
    color: #40434A;
    background-color: #AD8341;

}

h1 {
    font-size: 40px;
}

.subheading {
    font-size: 20px;
}




/*------NAV------*/

nav {
    text-align: left;

}

nav button {
    background-color: #F4D6A6;
    border: #623E05 solid 2px;
}

nav ul {
    list-style-type: none;
    padding: 1px;
    overflow: hidden;
    background-color: #F4D6A6;
    margin: 0;
    border: #623E05 solid 2px;
    border-radius: .4em;



}


nav ul li a {
    display: block;
    color: #40434A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

nav ul li.active a {
    background-color: #623E05;
    color: white;
}

nav ul li a:hover {
    background-color: #7186A0;

}

nav ul.hide {
    display: none;
}


/*------FOOTER------*/

footer {
    text-align: center;
    background-color: #F4D6A6;
    color: #40434A;
    border: #623E05 solid 2px;
    border-radius: .4em;


}

footer aside {
    font-size: 15px;
    padding: 10px 0 0 0;
    line-height: normal;
}

footer > p {
    font-size: 12px;
    border-radius: .4em;
}


/*------CONTACT-MAIN------*/

#contactinfo {
    text-align: center;

}

.contactform {}

.subutton {
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;
    background-color: #F4D6A6;
}

/*------CONTACT-FORM-----*/

fieldset {
    background-color: #F4D6A6;
    border-radius: .8em;
    margin: auto;
    border: #623E05 solid 2px;
    padding-left: 1em;


}

legend {
    color: #40434A;
    margin-left: 6%;
    padding: .5em
    border: #623E05 solid 2px;
    background-color: #F4D6A6;
    border-radius: .4em;
    border: #623E05 solid 2px;
    font-size: 2em;
    padding : 1em;
    box-shadow: 5px 5px 10px #623E05;
}

label {
    display: grid;
    grid-gap: 1.3em;
    grid-template-columns: 1fr 1fr;
    margin: .3em;
}

label span {
    display: grid;
    font-size: 1.3em;
    padding-top: .9em;
    padding-bottom: .2em;
}

input.subutton {
    box-shadow: 5px 5px 10px #623E05;
    font-size: 20px;
    border: 3px solid #623E05;
    background-color: #F4D6A6;
}

#formheader {
    padding: 15px;


}


/*------THANK-YOU-PAGE-----*/

.thankyou {
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;

}


/*------RESOURCES-----*/

main #resourceslist {

    text-align: left;

}

/*------EVENTS------*/

.grdivinfo {
    text-align: left;
}


/*------SERVICE------*/

#servicetable1 {
    table-layout: fixed;
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;
    margin: 1em;

}

#servicetable1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4D6888;
    color: white;
}

#servicetable1 tr:nth-child(even) {
    background-color: #F4D6A6;
}

#servicetable2 {
    table-layout: fixed;
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;

    margin: 1em;

}

#servicetable2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4D6888;
    color: white;
}

#servicetable2 tr:nth-child(even) {
    background-color: #F4D6A6;
}

#servicetable3 {
    table-layout: fixed;
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;

    margin: 1em;

}

#servicetable3 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4D6888;
    color: white;
}

#servicetable3 tr:nth-child(even) {
    background-color: #F4D6A6;
}

#servicetable4 {
    table-layout: fixed;
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;

    margin: 1em;

}

#servicetable4 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4D6888;
    color: white;
}

#servicetable4 tr:nth-child(even) {
    background-color: #F4D6A6;
}






/*------ADVENTURE-TOURS------*/

.fa-bicycle {
    color: #7186A0;
    font-size: 300px;
}

.faded {
    opacity: 0.2;
}

main div img {
    padding-top: 10px;
    max-width: 100%;
    max-height: 350px;

}

#mountaintour1,
#mountaintour2 {
    display: block;

}

/*------SALES------*/

#bikesales img {
    max-height: 350px;
    max-width: 100%;
}


/*------INDEX------*/

#salserv {
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;
    padding: 20px;
    margin: 15px;
}

#saleslink {
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;
    padding: 10px;
    background-color: #F4D6A6;

}

#servicelink {
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;
    padding: 10px;
    background-color: #F4D6A6;

}

#tours {
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;
    padding: 20px;
    margin: 15px;
}

#tourlink {
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;
    padding: 10px;
    background-color: #F4D6A6;

}

#events {
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;
    padding: 20px;
    margin: 15px;

}

#eventslink {
    border: 3px solid #623E05;
    box-shadow: 5px 5px 10px #623E05;
    padding: 10px;
    background-color: #F4D6A6;

}


