/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: serif;
    color: cornflowerblue;
}

h1 {
    font-size: 30px;
    color: rebeccapurple;
}

h2 {
    font-size: 22px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 700px;
}

header, footer, footer a {
    text-align: center;
    background-color: dodgerblue;
    color: rebeccapurple;
}

header img {
    width: 150;
    height: auto;
    float: right;
}

footer {
    font-size: 12px;
}
